#form_container {
  display: flex;
  flex-direction: column;
  margin: 37px 100px 0;
  padding: 32px 0px 26px 0px;
  border-top: 3px solid #e8e8e8;
}

.form {
  display: flex;
  align-items: center;
}

.header {
  width: 174px;
  height: 24px;
  margin: 0px 524px 19px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888888;
}

.title_input {
  border-radius: 4px;
  margin-right: 10px;
  height: 37px;
  padding-right: 200px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
}

#categories {
  width: 285px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
}

.submit {
  width: 184px;
  height: 38px;
  padding: 7px 19px 8px 22px;
  margin-left: 20px;
  border-radius: 3px;
  border: none;
  background-color: #0290ff;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
}
